
<!-- <section>
    <form (ngSubmit)="registrarFoodtruck(f)" #f="ngForm" method="POST">
        <mat-form-field>
            <mat-label>Nombre del foodtruck</mat-label>
            <input type="text" matInput >
        </mat-form-field>
    </form>
</section> -->
<form (ngSubmit)="registrarFoodtruck(f)" #f="ngForm">
  <label for="nombre">Nombre del foodtruck</label><br>
  <input type="text" name="nombre" id="nombre"><br>
  <label for="servicio">Servicio</label><br>
  <input type="text" name="servicio" id="servicio"><br>
  <label for="descripcion">Descripcion</label><br>
  <input type="text" name="descripcion" id="descripcion"><br>
  <label for="web">Website</label><br>
  <input type="text" name="web" id="web"><br>
  <label for="ig">@Instagram</label><br>
  <input type="text" name="ig" id="ig"><br>
  <label for="tw">@Twitter</label><br>
  <input type="text" name="tw" id="tw"><br>
  <label for="wsp">Whatsapp</label><br>
  <input type="text" name="wsp" id="wsp"><br>
  <!-- FALTA INPUT PARA AGREGAR IMAGEN -->
  <br>
  <button type="submit">Crear</button>
</form>

<!-- 
<form>
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->
  