<!-- <mat-form-field appearance="fill" color="warn">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->


<form (ngSubmit)="registrarFoodtruck(f)" #f="ngForm">
  <label for="nombre">Nombre del foodtruck</label><br>
  <input type="text" name="nombre" id="nombre"><br>
  <label for="servicio">Servicio</label><br>
  <input type="text" name="servicio" id="servicio"><br>
  <label for="descripcion">Descripcion</label><br>
  <input type="text" name="descripcion" id="descripcion"><br>
  <label for="web">Website</label><br>
  <input type="text" name="web" id="web"><br>
  <label for="ig">@Instagram</label><br>
  <input type="text" name="ig" id="ig"><br>
  <label for="tw">@Twitter</label><br>
  <input type="text" name="tw" id="tw"><br>
  <label for="wsp">Whatsapp</label><br>
  <input type="text" name="wsp" id="wsp"><br>

  <br>
  <button type="submit">Registrar</button>
</form>


