<nav>
  <a routerLink="/login" routerLinkActive="active">Login</a> |
  <a routerLink="/registrarse" routerLinkActive="active">Registrarse</a>
</nav>

<div class="div-login" style="padding-bottom: 20%">
  <div class="div-form-login">
    <form
      (ngSubmit)="loginUsuario(f)"
      #f="ngForm"
      method="POST"
      class="form-group"
    >
      <label class="main-label">Ingrese sus datos para iniciar sesión</label>
      <br />

      <div class="form-inputs">
        <label for="email">Email</label>
        <br />
        <input
          class="input-login form-control"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          ngModel
          required
        />
        <br />

        <label for="contrasenia">Contraseña</label>
        <br />
        <input
          class="input-login form-control"
          type="password"
          id="contrasenia"
          name="contrasenia"
          placeholder="Contraseña"
          ngModel
          required
        />
        <br>
        <label for="email">Loguearse como</label>
        <br />
        <select
          name="rolUsuario"
          id="rolUsuario"
          class="form-control"
          [(ngModel)]="selectRol"
          required
        >
          <option value="FoodTrucker" selected>FoodTrucker</option>
          <option value="Organizador">Organizador/a de eventos</option>
        </select>
      </div>

      <br /><br />

      <button
        [disabled]="f.invalid"
        type="submit"
        class="btn btn-outline-warning"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
