<nav>
  <a *ngIf="rolUsuario == 'Organizador'" routerLink="/registrar-evento" routerLinkActive="active">Registrar evento</a> |
  <a *ngIf="rolUsuario == 'Foodtrucker'" routerLink="/mi-foodtruck" routerLinkActive="active">Mi Foodtruck</a> |
  <a *ngIf="rolUsuario == 'Foodtrucker'" routerLink="/editar-perfil" routerLinkActive="active">Editar mi perfil</a> |
  <a (click)="logOut()" routerLink="/" routerLinkActive="active">Cerrar sesion</a>
</nav>

<section fxLayoutAlign="center">
  <h1
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    Hola, {{rolUsuario}}!
  </h1>
</section>
