<div>
  	<h2>Top Foodtrucks</h2>
</div>

<div class="form">
  	<form action="eventosComponent()" method="GET">

    	<h5>Ingrese email y contraseña para iniciar sesión</h5>
		<br />
		
		<label for="email">Email</label>
		<br />
		<input type="email" id="email" name="email" />
		<br /><br /><br />

		<label for="contrasenia">Contraseña</label>
		<br />
		<input type="password" id="contrasenia" name="contrasenia" />
		<br /><br />

		<button class="btn btn-primary">Ingresar</button>
		
  	</form>
</div>

<br>

<hr>

<app-eventos></app-eventos>

<br>

<hr>

<app-registrar-eventos></app-registrar-eventos>