
<div class="div-header">
	<h1>Top Foodtrucks</h1>
</div>
<hr>
<!-- <nav>
<a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active">Login</a> |
<a *ngIf="!isLogged" routerLink="/registrarse" routerLinkActive="active">Registrarse</a> |
<a *ngIf="rolUsuario == 'Organizador'" routerLink="/registrar-evento" routerLinkActive="active">Registrar evento</a> |
<a *ngIf="rolUsuario == 'Foodtrucker'" routerLink="/registrar-evento" routerLinkActive="active">Mi Foodtruck</a> |
<a *ngIf="isLogged" routerLink="/inicio" routerLinkActive="active">Inicio</a>
</nav> -->

<!-- Link de prueba: <a routerLink="/login" routerLinkActive="active">Login</a> <br>
Link de prueba: <a routerLink="/registrar-eventos" routerLinkActive="active">Registrar eventos</a> -->

<router-outlet></router-outlet>

<!-- <div class="div-login" style="padding-bottom: 20%;">

    <div class="div-form-login">
      <form class="form-group" action="eventosComponent()" method="GET">
            <label class="main-label">Ingrese sus datos para iniciar sesión</label>
            <br />

          <div class="form-inputs">
              <label for="email">Email</label>
                <br />
                <input class="input-login form-control" type="email" id="email" name="email" placeholder="Email"/>
                <br /><br />

                <label for="contrasenia">Contraseña</label>
                <br />
                <input class="input-login form-control" type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña"/>
              </div>

            <br /><br />

            <button class="btn btn-outline-warning">Ingresar</button>
      </form>
    </div>

</div>

<app-registrar-usuarios></app-registrar-usuarios> -->


