
<div class="div-header">
	<h1>Top Foodtrucks</h1>
	<hr>
</div>

<div class="div-login">

  	<div class="div-form-login">
    	<form class="form-login" action="eventosComponent()" method="GET" style="background-color: rgba(109, 109, 109, 0.465);">
      		<h5>Ingrese email y contraseña para iniciar sesión</h5>
      		<br />

      		<label for="email">Email</label>
      		<br />
      		<input type="email" id="email" name="email" />
      		<br /><br />

      		<label for="contrasenia">Contraseña</label>
      		<br />
      		<input type="password" id="contrasenia" name="contrasenia" />
      		<br /><br /><br><br><br>

      		<button class="btn btn-primary">Ingresar</button>
    	</form>
	  </div>
	  
</div>


<app-registrar-usuarios></app-registrar-usuarios>
