<nav>
  <a *ngIf="rolUsuario == 'Organizador'" routerLink="/registrar-evento" routerLinkActive="active">Registrar evento</a> |
  <a *ngIf="rolUsuario == 'Foodtrucker'" routerLink="/mi-foodtruck" routerLinkActive="active">Mi Foodtruck</a> |
  <a *ngIf="rolUsuario == 'Foodtrucker'" routerLink="/editar-perfil" routerLinkActive="active">Editar mi perfil</a> |
  <a (click)="logOut()" routerLink="/" routerLinkActive="active">Cerrar sesion</a>
</nav>

<br><br>

<div class="form">

  <form
    (ngSubmit)="editarPerfil(f)"
    #f="ngForm"
    method="POST"
    class="form-group"
  >
      <div>
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
      </div>
      <br>
      <div>
          <label for="lugar">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
      </div>

      <br><br>

      <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
