
<div class="form">

    <button style="float: right;" (click)="hide_form()">Ocultar(ngfl)</button>
    <button style="float: right;" (click)="hide_form()">Ocultar(click)</button>

    <br><br><br>

    <form [hidden] ="!isShown" *ngIf=isShown>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del evento">
        </div>
        <br>
        <div>
            <label for="lugar">Lugar</label>
            <input type="text" class="form-control" id="lugar" placeholder="Ingrese lugar del evento">
        </div>
        <br>
        <div>
            <label for="fecha">Fecha</label>
            <input type="text" class="form-control" id="fecha" placeholder="Ingrese la fecha del evento">
        </div>
        
        <br><br>

        <button type="submit" class="btn btn-success">Submit</button>
    
    </form>
</div>
<br><br><br><br>