/* You can add global styles to this file, and also import other style files */
body{
    background-color: black; 
    /* color: #48bed9; */
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* input{
    background-color:#ededed;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
